xcuserdata/
*.xcuserstate
ActiveStreak.xcodeproj/xcuserdata/luan.xcuserdatad/xcschemes/xcschememanagement.plist
ActiveStreak.xcodeproj/project.xcworkspace/xcuserdata/luan.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
*.xcscheme
*.xcuserstate
